<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>EcoLivros</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <description></description>
    <display-name>Servlet</display-name>
    <servlet-name>Servlet</servlet-name>
    <servlet-class>br.com.ecolivros.controle.web.Servlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/SalvarUsuario</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/VisualizarUsuario</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/ExcluirUsuario</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/SalvarLivro</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/VisualizarLivro</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/ExcluirLivro</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/SalvarEndereco</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/VisualizarEndereco</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/ExcluirEndereco</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/SalvarCartaoDeCredito</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/VisualizarCartaoDeCredito</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/ExcluirCartaoDeCredito</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/SalvarNota</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/SalvarCarrinho</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/AtualizacaoDoSistema</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/SalvarPedido</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/VisualizarPedido</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/SalvarItemPedido</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/SalvarTroca</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/SalvarCupom</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/SalvarRelatorio</url-pattern>
  </servlet-mapping>
</web-app>